@import "tailwindcss";

/* GENERAL */
body {
  background-color: #c0cdcf;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header h1 {
  color: rgb(0, 0, 53);
}

header ul *:hover {
  color: rgb(0, 0, 53);
}

/* FOOTER */
footer ul *:hover {
  color: white;
}
